<div class="card mb-3">
	<div class="card-header-tab card-header">
		<div class="card-header-title font-size-lg text-capitalize">
			<img src="{{info.icon}}" class='img-fluid' style='height:50px;margin-right:20px;' alt="">
			<h3>{{info.title}}</h3>
		</div>
    </div>
	<div class="card-body">
		<table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					{% for heading in info.headings %}
						<th>{{heading}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for data in info.data %}
				<tr>
					{% for item in data %}
						{# <td>{{item | json_encode}}</td> #}
							{% if item is not iterable %}
								<td>{{item}}</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>