<div class="col-sm-8 col-lg-8 col-xl-9">
	<div class="main-card mb-3 card profile">
		<div class="grid-menu grid-menu-2col">
			<div class="no-gutters row">
				<div class="col-lg-4 col-sm-6">
					<div class="widget-chart widget-chart-hover">
						<div class="icon-wrapper">
							<img class="icon" src="/img/reward-points.png" alt="" srcset=""/>
						</div>

						<div class="widget-numbers">
							{{user.points}}
							 pts
						</div>
						<div class="widget-subheading">
							Total Rewards Earned
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="widget-chart widget-chart-hover">
						<div class="icon-wrapper">
							<img class="icon" src="/img/rewards-claimed.png" alt="" srcset=""/>
						</div>

						<div class="widget-numbers">
							$
							{{survey.claimed}}
							USD
						</div>
						<div class="widget-subheading">
							Total Rewards Claimed
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="widget-chart widget-chart-hover br-br">
						<div class="icon-wrapper">
							<img class="icon" src="/img/profile-status.png" alt=""/>
						</div>

						<div class="widget-numbers">
							{{profilestatus | textformat('percent')}}
						</div>
						<div class="widget-subheading">
							Total Profile Completion
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="widget-chart widget-chart-hover">
						<div class="icon-wrapper">
							<img class="icon" src="/img/survey-taken.jpg" alt="" srcset=""/>
						</div>

						<div class="widget-numbers">
							{{survey.total}}
						</div>
						<div class="widget-subheading">
							Total Survey Taken
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6">
					<div class="widget-chart widget-chart-hover br-br">
						<div class="icon-wrapper">
							<i class="fa fa-check" style="color: green;"></i>
						</div>
						<div class="widget-numbers">
							{{survey.completed}}
						</div>
						<div class="widget-subheading">
							Completed Surveys
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="widget-chart widget-chart-hover br-br">
						<div class="icon-wrapper">
							<i class="fa fa-times" style="color: red;"></i>
						</div>
						<div class="widget-numbers">
							{{survey.disqualified}}
						</div>
						<div class="widget-subheading">
							Disqualified Surveys
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
