<div class="dropdown">
	<button type="button" aria-haspopup="false" aria-expanded="true" data-toggle="dropdown" class="p-0 mr-2 btn btn-link">
		<span class="icon-wrapper icon-wrapper-alt rounded-circle">
			<span class="icon-wrapper-bg bg-danger"></span>
			<i class="icon text-danger icon-anim-pulse ion-android-notifications"></i>
			<span class="badge badge-dot badge-dot-sm badge-danger">Notifications</span>
		</span>
	</button>
	<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-xl rm-pointers dropdown-menu dropdown-menu-right" style='position: absolute; transform: translate3d(-358px, -2px, 0px); top: 0px; left: 0px; will-change: transform;'>
		<div class="dropdown-menu-header mb-0">
			<div class="dropdown-menu-header-inner bg-deep-blue">
				<div class="menu-header-image opacity-1" style="background-image: url('/assets/images/dropdown-header/city3.jpg');"></div>
				<div class="menu-header-content text-dark">
					<h5 class="menu-header-title">Notifications</h5>
				</div>
			</div>
		</div>
		<ul class="tabs-animated-shadow tabs-animated nav nav-justified tabs-shadow-bordered p-3">
			<li class="nav-item">
				<a role="tab" class="nav-link active" data-toggle="tab" href="#tab-messages-header">
					<span>Surveys</span>
				</a>
			</li>
			<li class="nav-item">
				<a role="tab" class="nav-link" data-toggle="tab" href="#tab-events-header">
					<span>Profile</span>
				</a>
			</li>
			<li class="nav-item">
				<a role="tab" class="nav-link" data-toggle="tab" href="#tab-errors-header">
					<span>Rewards</span>
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab-messages-header" role="tabpanel">
				<div class="scroll-area-sm">
					<div class="scrollbar-container">
						<div class="p-3">
							<div class="notifications-box">
								<div class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--one-column">
									{% if (user.availableSurveys|length) == 0  %}
										<div class="vertical-timeline-item dot-danger vertical-timeline-element">
											<div>
												<span class="vertical-timeline-element-icon bounce-in"></span>
												<div onclick="location.href='/user/survey/{{survey.uri}}'" class="vertical-timeline-element-content bounce-in" style='cursor-pointer'>
													<p class="timeline-title">No Survey Available at the moment
													</p>
												</div>
											</div>
										</div>

									{% endif %}

									{% for survey in user.availableSurveys %}

										<div class="vertical-timeline-item dot-danger vertical-timeline-element">
											<div>
												<span class="vertical-timeline-element-icon bounce-in"></span>
												<div onclick="location.href='/user/survey/{{survey.uri}}'" class="vertical-timeline-element-content bounce-in" style='cursor-pointer'>
													<p class="timeline-title">New Survey:
														<span class="text-success">{{survey.surveyPoints}}
															Points</span>
														<a style='color:#fff' class="badge badge-danger ml-2">Take Survey</a>
													</p>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab-events-header" role="tabpanel">
				<div class="scroll-area-sm">
					<div class="scrollbar-container">
						<div class="p-3">
							<div class="vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
								{% for profile in user.profileCategories %}
									<div class="vertical-timeline-item vertical-timeline-element status{{profile.completed}}">
										<div>
											<span class="vertical-timeline-element-icon bounce-in">
												{% if profile.completed == 100 %}
													<i class="fa fa-check"></i>
												{% else %}
													<i class="fa badge-danger" style="color:green"></i>
												{% endif %}
											</span>
											<div class="vertical-timeline-element-content bounce-in">
												<h4 class="timeline-title">{{profile.name}}
													{% if profile.completed == 100 %}
														<p style='color:green;float:right'>
															85 points
														</p>
													{% else %}
														<p style='color:red;float:right'>Pending</p>
													{% endif %}
												</h4>
												<span class="vertical-timeline-element-date"></span>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab-errors-header" role="tabpanel">
				<div class="scroll-area-sm">
					<div class="scrollbar-container">
						<div class="p-3">
							<div class="vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
								{% if (user.redeem | length) ==0 %}
									<div class="vertical-timeline-item vertical-timeline-element status">
										<div>
											<span class="vertical-timeline-element-icon bounce-in"></span>
											<div class="vertical-timeline-element-content bounce-in">
												<h6 class="timeline-title">
													No redumption history
												</h6>
											</div>
										</div>
									</div>
								{% endif %}
								{% for claim in user.redeem %}
									<div class="vertical-timeline-item vertical-timeline-element status">
										<div>
											<span class="vertical-timeline-element-icon bounce-in"></span>
											<div class="vertical-timeline-element-content bounce-in">
												<h6 class="timeline-title">Claim requested
													{{claim.amount}}
													on
													<span style='font-size: 10px;font-weight: 100;color: green;'>{{claim.createdAt|date("d-m-Y : H:i")}}</span>
												</h6>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="nav flex" style='justify-content: center;gap: 10px;font-size: 20px;color: var(--theme-primary);'>
			{% for rating in [1,2,3,4,5] %}
				{% if user.rating >= rating %}
					<li class="fa fa-star"></li>
				{% elseif (user.rating + 0.5) >= rating %}
					<li class="fa fa-star-half-o"></li>
				{% else %}
					<li class="fa fa-star-o"></li>
				{% endif %}
			{% endfor %}
		</ul>
		<div style="display: flex;justify-content: center;font-size: 10px;font-weight: 600;">
			<span style="">Rating
				{{user.rating}}</span>
		</div>
	</div>
</div>
