{% import "macro/survey.twig" as form %}
<div class="mb-3 card">
	<div class="card-header-tab card-header">
		<div class="card-header-title font-size-lg text-capitalize font-weight-bold">
			<img src="/images/categories/{{page.icon}}" class='pageicon'>
			{{page.title}}
		</div>
		<div class="btn-actions-pane-right text-capitalize ">
			<a href='?edit=true' class="btn-icon btn-icon-only btn btn-link">
				<i class="pe-7s-menu fa-pencil-square-o fa"></i>
			</a>
		</div>
	</div>
	<div class="card-body">
		<form method="post">
			{% set counter = 1 %}
			{% for page in profile.pages %}
				<div class="page" page="{{loop.index}}" style='display:none'>
					<div class="row">
						{% for que in page %}
							{% set item = profile.questions[que] %}
							{% if edit is defined %}
								{{form.render(profile.questions[que],user,counter)}}
							{% else %}
								{# {% if item.ans is defined %} #}

								<div class="{{item.class}}">
									<div class="form-group">
										<label for="">{{item.label[0].value}}</label>
										<div class="input">
											{% set value = user[item.name] %}
											{% if value is iterable %}
												{% if value.label is defined %}
													{{value.label}}
												{% else %}
													{% for val in value %}
														{{val}}
													{% endfor %}
												{% endif %}
											{% else %}
												{{value}}
											{% endif %}
										</div>
									</div>
								</div>
								{# {% endif %} #}
							{% endif %}
							{% set counter = counter + 1 %}
						{% endfor %}
					</div>
				</div>

			{% endfor %}
			{# <button class="mt-1 btn btn-primary fr">Submit</button> #}
		</form>
		<div class="mb-3 progress">
			<div class="progress-bar bg-info progress-bar-animated-alt" role="progressbar" data-survey-progress="20"></div>
		</div>
		<div class="text-right">
			<button type="button" data-submit class="mt-1 btn btn-primary fr" style='display:none' onclick="progress.submit()">Submit</button>
			<button type="button" data-next class="mt-1 btn btn-primary fr" style='display:none' onclick="progress.next()">Next</button>
			<button type="button" data-prev class="mt-1 btn btn-primary fr" style='display:none' onclick="progress.previous()">Previous</button>
		</div>
		<div class="btn-actions-pane-right text-capitalize actions-icon-btn">
			<span data-pageno>1</span>
			of
			<span data-totalpages>{{survey.pages|length}}</span>
		</div>
	</div>
</div>
