<div class="logo-container">
	<div class="logo">
		<img src="/assets/images/logo.png" alt="" srcset=""></div>
</div>
<div class="terms">
	<h2>
		We Value about your Data Privacy

	</h2>

	<p>
		We value and care about the privacy of your personal information and can ensure with our data privacy policy your personal data will be only used for the Market Research purpose only and will be secure and safe with us.Your data will not be shared to any third party vendor and will make sure to limit your sensitive data privacy during data collection in any in-house or third party survey.

	</p>
	<p>
		You would be able to get more opportunities to participate in your preferable survey categories. Your opinion will help our clients to take better decisions for their business and you will be able to earn more and more rewards.

	</p>
	<h2>
		Turn2Opinion General Consent Form

	</h2>
	<p>
		Turn2Opinion and our parent company, Frequent Research Fieldwork Solutions Private Limited, value your data inputs and your data privacy is matters for us. Once you login, Turn2Opinion will collect your personal information and will use your personal data inputs to deliver our research services, websites and applications (collectively, our "Services''). This Consent helps you to learn How, What and Why we use your personal data. Our Consent form enables you  to describe the access, update or otherwise control of your personal data that we process for our research purposes. Your personal data may include information such as:

	</p>
	<ul>
		<li>
			Name

		</li>
		<li>
			Location

		</li>
		<li>
			Telephone number

		</li>
		<li>
			Date of birth

		</li>
		<li>
			Email address

		</li>

	</ul>
	<h2>
		WHAT ADDITIONAL INFORMATION DO WE COLLECT?

	</h2>
	<ul>
		<li>
			Behaviour Tracking

		</li>
		<li>
			Cookies History

		</li>
	</ul>
	<ul class="starred">
		<li>To activate your account you must accept to the Terms and Conditions and Privacy Notice</li>
		<li>To have access of more available surveys you must accept to participate in surveys and other market research activities</li>
	</ul>

</p>
<div class="fa">
	{% set i = 1 %}
	<input type="checkbox" onclick='checkall(this)' style='display:none;' id="tnc-{{ i }}">
	<label for="tnc-{{ i }}">

		Accept all

	</label><br>
	<form action="/user/welcome" method="post" class="terms-checkbox">
		{% set i= i + 1 %}
		<input value=true type="checkbox" name="dataPrivacy" style='display:none;' id="tnc-{{ i }}" checked>
		<label for="tnc-{{ i }}">
	I accept to the <a href='/policy/privacy' > Privacy Policy</a> and <a href='/policy/terms' >Terms and Conditions</a> * (required)
		</label><br>
		{% set i= i + 1 %}
		<input value=true type="checkbox" name="surveyParticipation" style='display:none;' id="tnc-{{ i }}" checked>
		<label for="tnc-{{ i }}">
			I accept to participate in surveys and other market research opinion activities * (required)
		</label><br>
		{% set i= i + 1 %}
		<input value=true type="checkbox" name="cookiesAccept" style='display:none;' id="tnc-{{ i }}" checked>
		<label for="tnc-{{ i }}">
			I accept to have Turn2Opinion and it's trusted third parties to use cookies to improve your experience and to personalize content for market research * (required)
		</label><br>
		{% set i= i + 1 %}
		<input value=true type="checkbox" name="dataSensitivity" style='display:none;' id="tnc-{{ i }}">
		<label for="tnc-{{ i }}">
			I accept to share my sensitive data for market research purposes
		</label><br>
		{% set i= i + 1 %}
		<input value=true type="checkbox" name="profileShare" style='display:none;' id="tnc-{{ i }}">
		<label for="tnc-{{ i }}">
			I accept to share my profile information with third-parties for market research purposes
		</label><br>
		{% set i= i + 1 %}
		<input value=true type="checkbox" name="mobileAdvertising" style='display:none;' id="tnc-{{ i }}">
		<label for="tnc-{{ i }}">
			I accept to the data collection and to share of my mobile advertising identifiers or other identifiers
		</label><br>
		{% set i= i + 1 %}
		<input value=true type="checkbox" name="deviceID" style='display:none;' id="tnc-{{ i }}">
		<label for="tnc-{{ i }}">
			I accept to the use of cookies and the collection of my device ID information for market research purposes
		</label><br>
		{% set i= i + 1 %}
		<button id="termsButton" type="button" class="btn btn-secondary fr" title="Accept at least 3 terms to proceed">Accept</button>
		<input type="hidden" name="userid" value="{{user._id}}">
	</form>
</div></div><script src="/assets/scripts/terms.js"></script>
