{% set threshold = 10000 %}
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header-tab card-header">
				<div class="card-header-title font-size-lg text-capitalize font-weight-normal" style="font-size:30px !important">
					WELCOME
					<b style='margin-left:20px'>
						{{user.name | title}}
					</b>
				</div>
				<div class="btn-actions-pane-right text-capitalize actions-icon-btn">
					<div class="btn-group dropdown">
						<div class="dropdown">
							<button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="p-0 mr-2 btn btn-link">
								<span class="icon-wrapper icon-wrapper-alt rounded-circle">
									<span class="icon-wrapper-bg bg-primary"></span>
									<i class="icon text-primary ion-android-apps"></i>
								</span>
							</button>
							<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-xl rm-pointers dropdown-menu dropdown-menu-right">
								<div class="dropdown-menu-header">
									<div class="dropdown-menu-header-inner bg-plum-plate">
										<div class="menu-header-image" style="background-image: url('/assets/images/dropdown-header/abstract4.jpg');"></div>
										<div class="menu-header-content text-white"></div>
									</div>
								</div>
								<div class="grid-menu grid-menu-xl grid-menu-3col">
									<div class="no-gutters row">
										<div class="col-sm-4 col-xl-4">
											<button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
												<i class="pe-7s-world icon-gradient bg-night-fade btn-icon-wrapper btn-icon-lg mb-3"></i>
												Available Surveys
											</button>
										</div>
										<div class="col-sm-4 col-xl-4">
											<button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
												<i class="pe-7s-piggy icon-gradient bg-night-fade btn-icon-wrapper btn-icon-lg mb-3"></i>
												Survey History
											</button>
										</div>
										<div class="col-sm-4 col-xl-4">
											<button class="btn-icon-vertical btn-square btn-transition btn btn-outline-link">
												<i class="pe-7s-config icon-gradient bg-night-fade btn-icon-wrapper btn-icon-lg mb-3"></i>
												Claimed Rewards
											</button>
										</div>
									</div>
								</div>
								<ul class="nav flex-column">
									<li class="nav-item-divider nav-item"></li>
									<li class="nav-item-btn text-center nav-item">
										<button class="btn-shadow btn btn-primary btn-sm">Follow-ups</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="p-0 card-body">
				<div class="row">
					<div class="col-sm-2 money-img">
					</div>
					<div class="col-sm-8">
						<ul class="list-group list-group-flush">
							<li class="p-3 bg-transparent list-group-item">
								<div class="widget-content p-0">
									<div class="widget-content-outer">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading" style='font-size:21px'>Total Rewards</div>
												<div class="widget-subheading"></div>
											</div>
											<div class="widget-content-right">
												<div class="widget-numbers text-success">
													<small>Points</small>
													{{user.points}}
												</div>
											</div>
										</div>
										<div class="widget-progress-wrapper" style='font-style:italic'>
											<div class="progress-bar-sm progress-bar-animated-alt progress" style='height:1rem'>
												<div class="progress-bar bg-{% if user.points > threshold %}success{% else %}primary{% endif %}" role="progressbar" aria-valuenow="{{user.points}}" aria-valuemin="0" aria-valuemax="{{(threshold * 1.5)}}" style="width: {{(user.points * 100) / (threshold * 1.5)}}%;"></div>
											</div>
											<div class="progress-sub-label">
												<div class="sub-label-left" style='font-size:20px'>100 Points = USD 1</div>
												<div class="sub-label-right">Get {{threshold - user.points}} more points to redeem</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>

					</div>
					<div class="col-sm-2 redeem-btn">
						<button class="btn btn-{% if user.points > threshold %}success{% else %}disabled{% endif %}" >Redeem now</button>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
