{% import "macro/form.twig" as form %}
<div class="app-main__inner">

	<div class="tabs-animation">
		<div class="row">
			<div class="col-sm-4 col-lg-4 col-xl-3">
				<div class="main-card mb-3 card">
					<div class="card-body">
						<div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
							<img src="{{ user.propic }}" class="img-fluid" alt="">
							<div class="actions">
								<a href="#" onclick="selectFile()">
									<fa class="fa fa-upload" title='Upload Image'></fa>
								</a>
								<a href="#" onclick="selectFile()">
									<i class="fa fa-edit" title='Change Image'></i>
								</a>
							</div>
							<form action="/user/profile" method="post" enctype="multipart/form-data">
								<input type="file" onchange="uploadFile(this)" accept=".jpg,.png,.jpeg" class="filepond" name="propic" data-allow-reorder="true" data-max-file-size="3MB" data-max-files="3" style='display:none'></form>
						</div>
						<h2 class="card-title">
							<center>
								{{ user.name | capitalize }}
							</center>
						</h2>
						<ul class="nav flex" style='justify-content: center;gap: 10px;font-size: 20px;color: var(--theme-primary);'>
							{% for rating in [1,2,3,4,5] %}
								{% if user.rating >= rating %}
									<li class="fa fa-star"></li>
								{% elseif (user.rating + 0.5) >= rating %}
									<li class="fa fa-star-half-o"></li>
								{% else %}
									<li class="fa fa-star-o"></li>
								{% endif %}
							{% endfor %}
						</ul>
						<span style='display:flex;justify-content:center;align-items:center; font-size:10px;'>Created on
							{{user.createdAt|date('d-M-Y')}}</span>
					</div>
				</div>
			</div>
			{% include "dbcomp/earningsummary.twig" %}
			<div class="col-sm-10 col-lg-11">
				{% include "dbcomp/summary/userinfo.twig" %}
				{% include "dbcomp/summary/rewards.twig" %}
				{% include "dbcomp/summary/reward/processed.twig" %}
				{% include "dbcomp/summary/reward/rejected.twig" %}
			</div>
			<div class="col-sm-2 col-lg-1">
				<div class="main-card mb-3 card">
					<div class="table-responsive">
						<div class="frm social-buttons">
							{% for name,value in user.contact %}
								<div  class="btn btn-{% if value == null %}secondary{% else %}primary{% endif %}" title='USERID: {{value}}, Click to update' onclick="contact.add('{{name}}')">
									<i class="fa fa-{{name}}"></i>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function selectFile() {
let finput = document.querySelector("[type=file]");
finput.click();
}
function uploadFile(e) {
e.form.submit();
}
</script>
