<!doctype html>
<html lang="en">

	{% include "dbcomp/head.twig" %}
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
	<style>
		label.title+input[type=checkbox] {
			display: none;
		}
		label.title {
			display: flex;
			justify-content: space-between;
			background: var(--theme-dark);
			color: #fff;
			padding: 0 10px;
			align-items: center;
		}
		input[type=checkbox]+.questions {
			display: none;
			transition: 1s;
		}
		input[type=checkbox]:checked +.questions {
			display: grid;
			grid-template-columns: auto auto;
			justify-content: space-between;
			gap: 20px;
			padding-left: 20px;
		}

		.que-options {
			display: flex;
			gap: 10px;
		}

		.que-options span {
			color: #fff;
			padding: 5px 10px;
			border-radius: 10px;
			font-weight: bold;
			transition: 1s;
			background: var(--theme-dark);
		}
		.que-options input[type=radio] {
			display: none;
		}
		.que-options input[type=radio]:checked + span {
			background: var(--theme-primary);
		}
		.qgridoption {
			display: flex;
			gap: 20px;
			justify-content: space-around;
			margin-bottom: 15px;
		}
	</style>
	<body>
		<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
			{% include "dbcomp/header.twig" %}
			<div class="app-main">
				{% include "dbcomp/sidebar.twig" %}
				<div class="app-main__outer">
					<div class="app-main__inner">
						<div class="mb-3 card mt-3">
							<div class="card-header">
								<strong>{{page.title}}</strong>
							</div>
							<div class="card-body">
								<form method="post" class='gadi-form'>
									<div class="page" page="1" style="display:none;">
										<div class="gadi">
											<div class="questions">
												<div class="que-group">
													<label class="que">Do you have driving licence</label>
													<div class="que-options">
														{% for option in ["Yes","No"] %}
															<label for="dl-{{loop.index}}">
																<input type="radio" name="dl" value="{{option}}" id="dl-{{loop.index}}" onchange="showQuestion(this)">
																<span>{{option}}</span>
															</label>
														{% endfor %}
													</div>
												</div>
												<div class="que-group hidden">
													<label class="que">Which type of Driving License you have?</label>
													<div class="que-options">
														{% for option in ["Learner’s licence","Permanent licence","Commercial Driving licence","International Driving Permit"] %}
															<label for="dl-type-{{loop.index}}">
																<input type="radio" name="dl-type" value="{{option}}" id="dl-type-{{loop.index}}" onchange="showQuestion(this)">
																<span>{{option}}</span>
															</label>
														{% endfor %}
													</div>
												</div>
												{# Insurance List #}
											</div>
										</div>
									</div>
									<div class="page" page="2" style='display:none'>
										{% for vehichle in vehichles %}
											<div class="gadi">
												<label for="{{vehichle.basename}}" class="title">
													{{vehichle.heading}}
													<i class="fa fa-plus"></i>
												</label>
												<input type="checkbox" name='v-type' value='{{vehichle.basename}}' id="{{vehichle.basename}}" required>
												<div class="questions">
													<div class="que-group">
														<label class="que">Do you have
															{{vehichle.heading}}?</label>
														<div class="que-options">
															{% for option in ["Yes","No"] %}
																<label for="{{vehichle.basename}}-{{loop.index}}">
																	<input type="radio" name="{{vehichle.basename}}" value="{{option}}" id="{{vehichle.basename}}-{{loop.index}}" onchange="showQuestion(this)">
																	<span>{{option}}</span>
																</label>
															{% endfor %}
														</div>
													</div>
													<div class="que-group hidden">
														<label class="que">How many
															{{vehichle.heading}}
															do you have?</label>
														<div class="que-options">
															{% for option in [1,2,3,4,5,"More than 5"] %}
																<label for="{{vehichle.basename}}-cnt-{{loop.index}}">
																	<input type="radio" name="{{vehichle.basename}}-cnt" value="{{option}}" id="{{vehichle.basename}}-cnt-{{loop.index}}" onchange="showQgrid(this)">
																	<span>{{option}}</span>
																</label>
															{% endfor %}
														</div>
													</div>
												</div>
												<div class="qgrid hidden">
													<label for="">Please select brand, model and year of purchase of your
														{{vehichle.heading}}</label>
													<div class="qgridoptions hidden"></div>
												</div>
											</div>
										{% endfor %}
									</div>
									<div class="page" page="3" style="display:none;">
										<div class="gadi">
											<div class="questions">
												<div class="que-group" style='margin:12px 0px'>
													<label class="que">Are you primary decision maker in your household for automotive related purchases?</label>
													<div class="que-options">
														{% for option in ["Yes","I contribute equally in automotive decisions","No","Prefer not to say"] %}
															<label for="decision-{{loop.index}}">
																<input type="radio" name="decision" value="{{option}}" id="decision-{{loop.index}}" onchange="showQuestion(this)">
																<span>{{option}}</span>
															</label>
														{% endfor %}
													</div>
												</div>
												<div class="que-group  not-hide"  style='margin:12px 0px'>
													<label class="que">If your vehichles are insured</label>
													<div class="que-options">
														{% for option in ["Yes","No"] %}
															<label for="insurance-{{loop.index}}">
																<input type="radio" name="insurance" value="{{option}}" id="insurance-{{loop.index}}" onchange="showQuestion(this)">
																<span>{{option}}</span>
															</label>
														{% endfor %}
													</div>
												</div>
												<div class="que-group hidden"  style='margin:12px 0px'>
													<label class="que">Who is your insurance provider</label>
													<div class="que-options">
														<select name="insurance-org" id="insurance-org" class="form-control">
														<option value="" disabled selected>Select</option>
															{% for cname in insurers %}
																<option value="{{cname}}">{{cname}}</option>
															{% endfor %}
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<span class="mb-3"></span>
									<div class="mb-3 progress" style='margin-top:40px'>
										<div class="progress-bar bg-primary" role="progressbar" data-survey-progress="20"></div>
									</div>
									<div class="text-right" style='display:flex;gap:20px; justify-content:end'>
										<button type="button" data-prev class="mt-1 btn btn-primary fr" style='display:none' onclick="progress.previous()">Previous</button>
										<button type="button" data-next class="mt-1 btn btn-primary fr" style='display:none' onclick="progress.next()">Next</button>
										<button type="button" data-submit class="mt-1 btn btn-primary fr" style='display:none' onclick="progress.submit()">Submit</button>
									</div>
									<div class="btn-actions-pane-right text-capitalize actions-icon-btn">
										<span data-pageno>1</span>
										of
										<span data-totalpages>{{survey.pages|length}}</span>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-drawer-overlay d-none animated fadeIn"></div>
		<div class="forced-popup" style='display:none'>
			<div class="popup-body"></div>
		</div>
		<script type="text/javascript" src="/assets/scripts/main.d810cf0ae7f39f28f336.js"></script>
		<script src="/assets/scripts/script.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	</body>
	<script src="/js/automobile.js"></script>
	{% if (popup|length) > 0 %}
	<script>
		popup.show("{{popup}}");
		setTimeout(() => {
			location.href="/user/dashboard";
		}, 3000);
		</script>
		{% endif %}
		</html>
