<p>Hi
	{{fn}},</p>
<p>Welcome to Turn2Opinion Panel - World's premier survey portal that helps your honest opinion on variety of subjects.</p>
<p>To confirm your email address, just click below.</p>
<a href="{{site}}/user/verify/{{id}}" class='btn' style="padding:10px;border-radius:10px;background:#e48025;color:#fff">
	Active Now</a>
<p>If you can't click on the link, just copy and paste below link into your web browser.</p>
<a href="{{site}}/user/verify/{{id}}">{{site}}/user/verify/{{id}}</a>


<p>For Getting More Surveys Rewards, Please complete all your profiling questions categories and become our perfect target audience. After completing every profile questions, you will get 50 - 100 points and automatically be credit into your rewards wallet.</p>
<p></p>
