<p>Dear {{fn}},</p>
<p>Greetings from {{project.name}}!,<p>
<p>We have received a request to reset the password for your online account associated with us. Please use the link below to reset your password, or alternatively you can copy the link to your browser.</p>
<p><a href={{reset_link}}>{{reset_link}}</a></p>
<p>We recommend that you keep your new passowrd secure and not share it with anyone. If you feel your password has been compromised you can change it by going to your account's profile and clicking on the 'Change Password' link. In case of any difficulty to reset your password or to access the above link, please contact us at {{project.support_email}}. We would be happy to assist you.</p>
