<p>Dear Support Team,</p>
<p>
	The panelist from Turn2Opinion Panel have achieved the Primary panel milestone and requested for redemption points and amount. Refer to below panellist details:
</p>
<table>
	<tr>
		<td>Name:</td>
		<td>{{user.name}}</td>
	</tr>
	<tr>
		<td>Amount:</td>
		<td>
			{{claim.amount}}</td>
	</tr>
	<tr>
		<td>Points:</td>
		<td>
			{{claim.points}}</td>
	</tr>
	<tr>
		<td>Email ID:</td>
		<td>
			{{user.email}}</td>
	</tr>
	<tr>
		<td>Date of completion:</td>
		<td>
			{{claim.createdAt}}</td>
	</tr>
	<tr>
		<td>Date of remdemption:</td>
		<td>
			{{claim.createdAt}}</td>
	</tr>
	<tr>
		<td>Payment due date:</td>
		<td>
			{{claim.redeemDate}}</td>
	</tr>

</table>

{# UserID: {{user.frid}} #}
<p>
	In case, you have any questions. Please login to panel for more details.
</p>
