{% macro input(label,name,type,required,editable,value) %}
	{% if value is null %}
		{% set editable = true %}
	{% endif %}
	<div class="position-relative form-group">
		<label for="profile-{{name}}"><img src="/img/q.png">{{label.value}}</label>
		<input name="{{name}}" id="profile-{{name}}" {{(editable == false) ? "disabled":"" }} {% if value is not null %} value="{{value}}" {% endif %} type="{{type}}" class="form-control"/>
	</div>
{% endmacro %}
{% macro date(label,name,type,required,editable,value) %}
	{% if value is null %}
		{% set editable = true %}
	{% endif %}
	<div class="position-relative form-group">
		<label for="profile-{{name}}"><img src="/img/q.png">{{label.value}}</label>		
		<input name="{{name}}" id="profile-{{name}}" {{(editable == false) ? "disabled":"" }} {% if value is not null %} value="{{value}}" {% endif %} {% if (editable == true) %}type="date" {% else %}type="text"{% endif %} class="form-control"/>
	</div>
{% endmacro %}

{% macro select(label,name,type,required,editable,value,option) %}
	{% if value is null %}
		{% set editable = true %}
	{% endif %}
	<div class="position-relative form-group">
		<label for="profile-{{name}}"><img src="/img/q.png">{{label.value}}</label>
		<select name="{{name}}" id="profile-{{name}}" class='form-control' {{(editable == false) ? "disabled":"" }} data-options='{{option.endpoint}}' data-method='{{option.method}}' data-params='{{option.params|json_encode}}' data-value='{{value}}'>
		<option value="" disabled selected> -- Please Select -- </option>
	</select>
	</div>
{% endmacro %}
{% macro checkbox(name,index,options,value,fld) %}
	<div class="position-relative form-group " id="chb-{{index}}">
		<label><img src="/img/q.png">{{name}}</label>
		
		<div class="custom-controls-stacked">
			{% for option in options %}
				<label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" name="{{fld}}" value="{{loop.index}}">
					<span class="custom-control-label">{{option}}</span>
				</label>
			{% endfor %}
		</div>
	</div>
{% endmacro %}
{% macro tel2(name,index,value,fld,editable) %}
	<div class="position-relative form-group">
		<label for="basic-{{index}}" class="">
			<img src="/img/q.png">{{name}}</label>
		<input name="{{fld}}[]" id="basic-{{index}}" {{(editable) ? "":"disabled" }} value="{{value}}" type="tel" class="form-control"/>{# <div class='tel-nos'>
									<input name="{{fld}}[]" id="basic-{{index}}" {{(editable) ? "":"disabled" }} value="{{value}}" type="tel" class="form-control"/>
								</div> #}</div>
{% endmacro %}
