{% import "macro/form1.twig" as form %}
<div class="login-wrap">
	<div class="login-html">
		<div class="message">Join us free today !!!
		</div>

		<input id="tab-1" type="radio" name="tab" class="sign-in" {% if (user.fn is not defined) %} checked {% else %} {% endif %}><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up" {% if (user.fn is defined) %} checked {% else %} {% endif %}><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<form method="post" class="sign-in-htm" action="/user/login">
				<div class="group">
					<label for="user" class="label">E-Mail</label>
					<input id="user" type="email" name="user" class="input">
				</div>

				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" name="pass" class="input" data-type="password">
				</div>
				<div class="group">
					<input id="check" name="staysignedin" value="1" type="checkbox" class="check" checked>
					<label for="check">
						<span class="icon"></span>
						Remember me
					</label>
				</div>
				<div class="group" style='display:flex;justify-content:center'>
					<div class="g-recaptcha" data-sitekey="{{captchakey}}"></div>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In">
				</div>
				<div class="group">
					<span data='autherror'></span>
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="/user/forgot">Forgot Password?</a>
				</div>
				<div class="hr"></div>
				<div class="group social-signbtns">
					<label for="" style='text-align:center;color:#fff;width:100%'>Or Sign in with Social Accounts</label>
					<ul>
						<li class='facebook' onclick="window.location='/social/facebook/login'">
							<i class="fa-brands fa-facebook"></i>
						</li>
						{# <li class='twitter'>
													<i class="fa-brands fa-twitter"></i>
												</li> #}
						<li class='linkedin' onclick="window.location='/social/linkedin/login'">
							<i class="fa-brands fa-linkedin"></i>
						</li>
						<li class='google-plus' onclick="window.location='/social/google/login'">
							<i class="fa-brands fa-google-plus-g"></i>
						</li>
					</ul>
				</div>
				<div class="group" style='text-align:center'>
					Not a member yet?
					<label for="tab-2" style='color:#fff'>
						Create an Account</label>
				</div>
			</form>
			<form method="post" class="sign-up-htm" action="/user/register">
				<div class="row">
					<div class="col-xs-6">
						{{form.input("fn","text","fn","First Name *","[a-zA-Z]{2,100}",user.fn,true,"Please enter your first name correctly")}}
					</div>
					<div class="col-xs-6">
						{{form.input("ln","text","ln","Last Name *","[a-zA-Z]{2,100}",user.ln,true,"Please enter your last name correctly")}}
					</div>
					<div class="col-xs-12">
						{{form.input("email","email","email","E-Mail *","",user.email,true,"Please enter your email correctly")}}
					</div>
					<div class="col-xs-12">
						<div
							class="group">
							<!-- <label for="pass" class="label">Contact Number</label> -->
							<input required type="tel" class="input" placeholder="Phone *" name="phone">
							<span id="valid-msg" class="hide">✓</span>
							<span id="error-msg" class="hide"></span>
						</div>
					</div>
					<div class="col-xs-6">
						<div
							class="group">
							<!-- <label for="pass" class="label">Country</label> -->
							<div class="input" data-country></div>
							<input type="hidden" name="cn">

						</div>
					</div>
					<div class="col-xs-6">
						<div class="gender">
							<div class="title">Gender:</div>
							<div class="options">
								<input type="radio" name="gender" value="male" id="male">
								<label for="male">
									<i class="fa fa-person"></i>
								</label>
								<input type="radio" name="gender" value="female" id="female">
								<label for="female">
									<i class="fa fa-person-dress"></i>
								</label>
								<input type="radio" name="gender" value="trans" id="trans">
								<label for="trans">
									<i class="fa fa-transgender"></i>
								</label>
							</div>
						</div>
					</div>
					<div class="col-xs-12" style='display:grid;justify-content:center;'>
						<div class="g-recaptcha" style='margin-top:15px;' data-sitekey="{{captchakey}}"></div>
					</div>
					<input type="hidden" name="lat">
					<input type="hidden" name="lng">
					<div class="col-xs-12">
						<div class="group">
							<input type="submit" class="button" value="Sign Up">
						</div>
					</div>
					<div class="col-xs-12">
						<div class="group social-signbtns">
							<label for="" style='text-align:center;color:#fff;width:100%'>Or Sign up with Social Accounts</label>
							<ul>
								<li class='facebook' onclick="window.location='/social/facebook/login'">
									<i class="fa-brands fa-facebook"></i>
								</li>
								{# <li class='twitter' onclick="window.location='/social/twitter/login'">
																	<i class="fa-brands fa-twitter"></i>
																</li> #}
								<li class='linkedin' onclick="window.location='/social/linkedin/login'">
									<i class="fa-brands fa-linkedin"></i>
								</li>
								<li class='google-plus' onclick="window.location='/social/google/login'">
									<i class="fa-brands fa-google-plus-g"></i>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	const pagename = "signup"
</script>
