<footer id="fh5co-footer" role="contentinfo">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-6 fh5co-widget">
				<h4>About</h4>
				<p>Turn2Opinion is a world wide Consumer and Business Community of Frequent Research. Turn2Opinion welcomes you as our new panel members to take participate and share your  opinion and perspective to wide-ranging market research survey campaigns. </p>
				<p>It is a platform which helps you to generate more and more revenues in high incentive rewards. You get the studies that are best fit for you. The more participation you do in the surveys, You will be able to earn more and more money.</p>
				<ul class="fh5co-social" style='display:flex;list-style:none;justify-content:center;gap:20px'>
					{% for social in project.socials %}
						<li>
							<a href="{{social.link}}" target="_blank" rel="noopener noreferrer">
								<i class="{{social.icon}}"></i>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-12">
				<h4>Links</h4>
				<ul class="fh5co-footer-links">
					{% for item in project.footer.links %}
						<li>
							<a href="{{item.target}}" target="_blank" rel="noopener noreferrer">{{item.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>


			<div class="col-md-4 col-sm-4 col-xs-12 contact">
				<h4>Contact us</h4>
				<ul class="fh5co-footer-links">
					<li>
						<i class="fa fa-address-card"></i>
						<a href="{{project.contact.address.link}}">{{project.contact.address.text}}</a>
					</li>
					<li>
						<i class="fa fa-phone"></i>
						<a href='{{project.contact.phone.link}}' class="num">{{project.contact.phone.text}}</a>
					</li>
					<li>
						<i class="fa fa-envelope"></i>
						<a href='{{project.contact.email.link}}' class="num">{{project.contact.email.text}}</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="row copyright">
	<div class="col-md-12 text-center">
		<p>
			<small class="block">&copy;
				{{"now"|date('Y')}}
				Frequent Research Fieldwork Solutions Pvt. Ltd. (dba Turn2Opinion). All Rights Reserved</small>
		</p>
	</div>
</div>
<div class="popup-request-form">
   <div class="request-form">
      <div class="cross-bttn"></div>
      <div class="inner">
         <div class="image-wrapper">
            <h3>Request a Quote</h3>
         </div>
         <div class="content-wrapper">
            <form>
               <div class="row">
                  <div class="col-sm-6">
                     <div class="form-field">
                        <label>Name</label>
                        <input type="text" name="" id="r-name" placeholder="Enter your name">
                     </div>
                     <div class="form-field">
                        <label>Email</label>
                        <input type="email" name="" id="r-email" placeholder="Enter your email">
                     </div>
                     <div class="form-field">
                        <label>Company</label>
                        <input type="text" name="" id="r-company" placeholder="Enter company name">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-field">
                        <label>message</label>
                        <textarea name="" id="r-message" cols="30" rows="10" placeholder="enter your message"></textarea>
                     </div>
                     <div class="form-field">
                        <input type="submit" name="" value="request quote">
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div id="quote-bttn"><a href="javascript:void(0);">Request a Quote</a></div>