<nav class="fh5co-nav" role="navigation">
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-right">
					<a href='{{project.contact.phone.link}}' class="num">{{project.contact.phone.text}}</a>
					<ul class="fh5co-social">
						{% for social in project.socials %}
							<li>
								<a href="{{social.link}}">
									<i class="{{social.icon}}"></i>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="top-menu">
		<div class="container">
			<div class="row">
				<div class="col-xs-1">
					<div id="fh5co-logo">
						<a href="index.html">Turn<span>2</span>Opinion</a>
					</div>
				</div>
				<div class="col-xs-11 text-right menu-1">
					<ul>
						{% for link in project.navbar %}
							<li {% if link.active is defined %}class="active"{% endif %} >
								<a href="{{link.target}}">{{link.name}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
	</div>
</nav>
