<div class="main-slider-container">
	<div class="owl-carousel main-slider">
		{% for slide in slider %}
			<div class="item">
				<div class="main-slide text-center">
					<div class="img-container">
					<picture>
						<source  srcset="/slider/slide{{loop.index}}.webp" type="image/webp">
						<source  srcset="/slider/slide{{loop.index}}.jpg" type="image/jpg">
						<img src="/slider/slide{{loop.index}}.jpg" alt="Slide-{{loop.index}}" class="img-fluid" {% if loop.index != 1 %} loading="lazy"{% endif %} width="1345" height="807">
					</picture>
					</div>
					<div class="text-container">
						<div class="banner-text">
							<h1>{{slide.h1}}</h1>
							<h2>{{slide.h2}}</h2>
							<p>{{slide.p}}</p>
							<a href="javascript:void(0)" class="btn btn-primary" style='max-width:max-content;margin:auto' onclick='form.show("sign-up")'>Join us</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	
	
</div>
