<div id="stepsToJoin"></div>
<div id="fh5co-steps">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<div class="mt"></div>
				<h2>Steps to be a community member</h2>
				<p>Turn2Opinion research panel community provides a very simple and easy way to engage you as our new community member. You just need to follow a few small steps to be a part of our global community to earn rewards with free registration</p>
			</div>
		</div>

		<div class="main-timeline">
			{% for step in steps %}

				<div href="#" class="timeline">
					<div class="timeline-icon">
					<img src="/images/steps/{{step.img}}.png" class='step-icon' alt="" srcset="">
					</div>
					<div class="timeline-content">
						<h3 class="title">{{step.title}}</h3>
						<p class="description">
							{{step.info}}
						</p>
					</div>
				</div>
			{% endfor %}

		</div>
{# 
		<div class="row bs-wizard animate-box earningsteps" style="border-bottom:0;">
			{% for step in steps %}

				<div class="col-xs-3 bs-wizard-step complete">
					<div class="text-center bs-wizard-stepnum">
						<h4>{{step.title}}</h4>
					</div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="#" class="bs-wizard-dot"></a>
					<div class="bs-wizard-info text-center">

						<p>{{step.info}}</p>
					</div>
				</div>
			{% endfor %}
		</div> #}

	</div>
</div>
