<div id="stepsToJoin"></div>
<div id="fh5co-steps">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<div class="mt"></div>
				<h2>Steps to be a community member</h2>
				<p>Turn2Opinion research panel community provides a very simple and easy way to engage you as our new community member. You just need to follow a few small steps to be a part of our global community to earn rewards with free registration</p>
			</div>
		</div>

		<div class="main-timeline">
			{% for step in steps %}

				<div href="#" class="timeline">
					<div class="timeline-icon">
					<picture>
						<source  srcset="/images/steps/{{step.img}}.webp" type="image/webp">
						<source  srcset="/images/steps/{{step.img}}.png" type="image/jpg">
						<img src="/images/steps/{{step.img}}.png" class='step-icon' alt="{{step.title}}" srcset="">
					</picture>
					</div>
					<div class="timeline-content">
						<h3 class="title">{{step.title}}</h3>
						<p class="description">
							{{step.info}}
						</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
